.ContactData{
    margin:20px auto;
    text-align: center;
    width:'auto';
    box-shadow: 0 2px 3px 2px rgb(248, 175, 18);
    box-sizing: border-box;
    padding: 20px;
  
}

@media(min-width:600px){
    .ContactData{
        width:500px;
   }

}

@media(max-width:599px){
    .smallBox{
        width:300px;
        height:350px;
        padding:0px 5px;
    }
}